.appbar {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F5F5F5;
}

.appbar button.btn-bar {
    border: none;
    background: none;
    outline: none;
    padding: 1em;
    color: #666;
    cursor: pointer;
}
.appbar button.btn-avatar {
    border: none;
    background: none;
    outline: none;
    color: #666;
    cursor: pointer;
}
.appbar button.btn-avatar .icon, .appbar button.btn-bar .icon {
    font-size: 1.2em;
}
.appbar .page-title {
    margin-bottom: 0;
    margin-left: 0.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}