.appbar {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F5F5;
}

.appbar button.btn-bar {
    border: none;
    background: none;
    outline: none;
    font-size: 1.2em;
    padding: 1em;
    color: #666;
    cursor: pointer;
}