/* Reset properties */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #444;
    margin: 0;

    height: 100vh; /* vh คือ viewport height */
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 1rem;
}

button, input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;/* inherit from body */
    color: inherit;/* inherit from body */
    outline: none;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table thead tr th {
    text-align: left;
    font-weight: 400;
}
table th, table td {
    border: solid 1px #e6e6e6;
    padding: 0.5rem;
}