/* Side Menu */
.side-menu {
    display: none; /* ซ่อน side menu */
    position: fixed;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #888888;
    height: 100vh;
    width: 240px;
    color: rgba(255, 255, 255, 0.3);
    z-index: 1000;
}
.side-menu-bg {
    display: none;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.65);
}
.side-menu-bg.show {
    display: block;
}
.side-menu.show {
    display: -ms-flexbox;
    display: flex;
}
.side-menu.hide, .side-menu-bg.hide {
    display: none;
}
.side-menu::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

.side-menu .side-menu-header {
    color: rgba(255, 255, 255, 1);
}

.side-menu .side-menu-header .icon {
    font-size: 1.5em;
}

.side-menu .side-menu-header, .side-menu .side-menu-footer {
    height: 60px;
}

.side-menu .side-menu-header img, .side-menu .side-menu-footer img {
    width: 100%;
}

.side-menu .side-menu-header .content-wrapper, .side-menu .side-menu-footer .content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.side-menu .side-menu-body {
    position: relative;
    flex: 1 0 auto;
}

.side-menu .side-menu-body .title {
    margin: 1em 0;
}

.side-menu .side-menu-body ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.side-menu .side-menu-body ul.menu li.menu-item a.item-link {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.56em 1em;
    
    transition: all 0.2s ease-in-out;
}

/* Hover */
.side-menu .side-menu-body ul.menu li.menu-item a.item-link:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.05);
}
/* Active */
.side-menu .side-menu-body ul.menu li.menu-item a.item-link.active {
    color: rgba(255, 255, 255, 0.9);
    background-color: #00bcd4;
}

.side-menu .side-menu-body>.content-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Side Menu */