@import 'reset.css';
@import 'site.css';
@import 'appbar.css';
@import 'sidemenu.css';
@import 'responsive.css';
@import 'table.css';
@import 'form.css';
@import 'button.css';
@import 'utilities.css';

.wrapper {
    padding-top: 60px;
}

.content-wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.content-wrapper.content {
    padding-top: 1em;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}